In [ ]:
import pandas as pd
import numpy as np

### 创建数据框

In [44]:
df=pd.DataFrame({'a':[1,2,3],'b':[4,5,2],'c':[2,6,9]},columns=['c','a','b']);df

   c  a  b
0  2  1  4
1  6  2  5
2  9  3  2

#### 增加列

In [45]:
df['d']=df.a==2;df

   c  a  b      d
0  2  1  4  False
1  6  2  5   True
2  9  3  2  False

In [46]:
df.assign(ration=df.a/df.b)

   c  a  b      d  ration
0  2  1  4  False    0.25
1  6  2  5   True    0.40
2  9  3  2  False    1.50

#### 删除列

In [47]:
del df['d'];df

   c  a  b
0  2  1  4
1  6  2  5
2  9  3  2

In [48]:
df.drop('c',axis=1)

   a  b
0  1  4
1  2  5
2  3  2

In [49]:
df.get_value('a','b')

KeyError: 'a'

In [ ]:
df.set_value('a','b',5);df

In [ ]:
list('abc')#创建列名的简单写法哦！

In [ ]:
# temp_df1=temp_df1[pd.notnull(temp_df1['submitTime'])];temp_df1 #删除空的行

### 选取数据

#### 选取列

In [ ]:
df[['a','b']]

In [ ]:
df.a

#### 选取行

In [ ]:
df.index=['a','b','c'];df

#### 按条件选取数据

In [ ]:
df[(df.a>1)&(df.b>3)]

In [ ]:
df['a':'c'];df[:2]

#### 联合选取行和列，也可选单元格

In [ ]:
df.ix[['a'],['a','b']]

### 数据整理

#### 更改数据格式

##### 查看格式

In [ ]:
df.dtypes

##### 更改格式

In [ ]:
df['a'].astype('str')

In [ ]:
df.applymap(lambda x:'%.2f' %x)#并不会改变df，如果需要改变就要重新赋值

In [ ]:
ds = df.apply(lambda x: "%04d%02d%02d" % (x['year'],x['month'],x['day']),axis=1)

#### 字符串处理

##### 截取字符串

In [55]:
df2=pd.DataFrame({
    'a':list('abcd'),
    'b':['19920823','19980306','19980203','19950801']
});df2

   a         b
0  a  19920823
1  b  19980306
2  c  19980203
3  d  19950801

In [89]:
df2['c']=df2['b'].apply(lambda x:x[:4]);df2

   a         b     c
0  a  19920823  1992
1  b  19980306  1998
2  c  19980203  1998
3  d  19950801  1995

##### 分割字符串

In [91]:
df2['c']=df2['b'].apply(lambda x:x.split('0')[0]);df2

   a         b     c
0  a  19920823  1992
1  b  19980306  1998
2  c  19980203  1998
3  d  19950801  1995

### 为行列执行自定义函数
#### 匿名函数

In [ ]:
df.apply(lambda x:x.max()-x.min(),axis=1)#apply方法，行是1，列是0，默认是列

In [ ]:
# def fun(a,b):
#     return temp_df1.ix[(temp_df1.id_x==a)&(temp_df1.businessTime<b),['businessTime']].max()
# temp_df1['submitTime']=temp_df1.apply(lambda x:fun(x['id_x'],x['businessTime']),axis=1)

### 合并数据集（join操作）

#### 创建数据集

In [ ]:
df1=pd.DataFrame({'id':list('abcd'),'name':list('efac')});df1

In [ ]:
df2=pd.DataFrame({'name1':list('abc'),'sex':list('FFM')});df2

#### innner join（默认）

In [ ]:
pd.merge(df1,df2,left_on='name',right_on='name1')

#### left join

In [ ]:
pd.merge(df1,df2,how='left',left_on='name',right_on='name1')

#### right join

In [ ]:
pd.merge(df1,df2,left_on='name',right_on='name1',how='right')

#### 相关参数

* on
* right_on（多个字段连接时用列表）
* left_on（多个字段连接时用列表）
* how
* suffixes（两个df有相同名字的列时的处理方式）

### 数据聚合

#### groupby

In [ ]:
df=pd.DataFrame({'key1':list('aabba'),
                 'key2':['one','two','one','two','one'],
                 'key3':list('cdcfc'),
                 'data1':np.random.randn(5),
                 'data2':np.random.randn(5)
                });df

In [ ]:
df.groupby([df.key1,df.key2,df.key3]).mean().unstack().unstack()

In [ ]:
temp=df.groupby([df.key1,df.key2,df.key3]).mean().unstack().unstack();temp